# Byte-compiled / optimized / DLL files
__pycache__/
app_logs/
.venv10/
models/
servstal_models/
Train_modules/deep_utils/__pycache__/*.*
Train_modules/deep_utils/__pycache__
Train_modules/deep_utils/__pycache__/*.*.*
.qt_for_python/
oxin_image_grabber/
evaluated_jsons/
oxin_image_grabber_imgProcessing/
default_dataset/
SymLink/
.cometml-runs/
binary_epoch/
binary_epoch/
servstal_models/
servstal_models_good/
oxin_image_grabber/