# Byte-compiled / optimized / DLL files
__pycache__/*.*
*/__pycache__/*.*
.venv10/
models/
Train_modules/deep_utils/__pycache__/*.*
Train_modules/deep_utils/__pycache__
Train_modules/deep_utils/__pycache__/*.*.*
.qt_for_python/
*/*.json

